{% extends "base.html" %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}{% endblock %}
{% block menu %}{% endblock %}
{% block content %}

    <h3 class="font-text">Join our fruit and veg bag scheme, and enjoy fresh, local, seasons fruit and veg, while supporting local organic farmers. </h3>
    <h3 class="font-text">Prices start at £8 a week, with convenient collection points all over Hackney</h3>

    <div class="row">

    <div class="action-group">
      <h4>
        <a href="/accounts/signup"  class="button font-display primary large">Sign up</a>
      </h4>
      <h4><a href="/accounts/login" class=""> Login </a></h4>
      <p>
      (<a href="/admin/">Staff Login</a>)
      </p>

    </div>

    </div>

{% endblock %}
{% block extra_body %}
{% endblock %}
