<!DOCTYPE html>
<html lang="en-GB">
  {% load staticfiles %}
  {% load hijack_tags %}
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    {# We need to serve all assets via HTTPS, so using cloudfront #}
    <link rel="stylesheet" type="text/css" href="https://d1a8174p97a9gm.cloudfront.net/css/style.css" />
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="page" id="page">

    <!-- Directly after <body> -->
    {% hijack_notification %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}

    {% block body %}

      <div class="main" role="main">

      {% if messages %}
        <div class="row">
          <div id="messages">
            {% for message in messages %}
            <div class="callout {{ message.tags }} ">
              {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}

      {% block menu %}
        {% if user.is_authenticated %}
        <div class="row">

          <div id="navigation">
            {# <a class="font-display button primary" href="{% url 'dashboard' %}">Home</a> #}
            <h4>Your order</h4>
            <div class="button-group">

              <a class="font-display button primary" href="{% url 'dashboard_order_history' %}">Order History</a>
              <a href="{% url 'dashboard_change_order' %}" class="font-display button primary">Change Order</a>
              <a href="{% url 'dashboard_change_collection_point' %}" class="font-display button primary">Change Collection Point</a>
            </div>

            <h4>Your account</h4>
            {% if not user.customer.has_left %}
              <div class="button-group">
                <a class="font-display button primary" href="{% url 'account_email' %}">E-mail Addresses</a>
                <a class="font-display button primary" href="{% url 'account_change_password' %}">Change Password</a>

                {% if user.customer.go_cardless %}
                  <a class="font-display button primary small" href="{% url 'dashboard_bank_details' %}">Bank Details</a>
                  <a class="font-display button primary small" href="{% url 'dashboard_leave' %}">Leave</a>
                {% endif %}
              {% endif %}
              </div>

            {% endif %}

              {% if not user.customer.has_left %}
              <a class="font-display button primary" href="{% url 'account_logout' %}">Log Out</a>
          </div><!-- navigation -->
        </div>
        {% endif %}
      {% endblock %}



    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    </div>
  </div>
    {% include "partials/footer.html" %}
  </body>
</html>
