<!DOCTYPE html>
<html lang="en-GB">
  {% load staticfiles %}
  {% load hijack_tags %}
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="http://patternlab.growingcommunities.org/css/style.css" />
    {#<link rel="stylesheet" type="text/css" href="{% static 'collected.css' %}" />#}
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="page" id="page">

    <!-- Directly after <body> -->
    {% hijack_notification %}

    {% block header %}
    {% include "partials/header.html" %}
    {% endblock %}

    {% block body %}

      {% if messages %}
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% block menu %}
      {% if user.is_authenticated %}
      <div>
        <strong>Menu:</strong>
        <ul>
          <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        </ul>
      </div>
      {% endif %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>

    {% include "partials/footer.html" %}

  </body>
</html>
