{% extends "base_join.html" %}

{% block head_title %}Billing Dates{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Billing Dates</h1>

      <p>Billing dates are based on the number of Wednesday collections in each month.</p>

      <div id="billing-dates">
          {% for month in pickup_dates %}
            <h2>{{ month|date:"F Y"}} - {{ pickup_dates|get_item:month|length }} Wednesday collections</h2>
            <p><strong>Invoicing date:</strong> <span class="invoicing-date">{{ billing_dates|get_item:month|date:"DATE_FORMAT" }}</span></p>
            <ol>
              {% for week in pickup_dates|get_item:month %}
              <li>
                  <p>
                      <strong>
                    {{ week.commencing|date:"DATE_FORMAT" }}
                    - {{ week.ending|date:"DATE_FORMAT" }}
                      </strong>
                    <br>
                    Wednesday collection:
                      {{ week.collection_day1|date:"DATE_FORMAT" }}
                      <br>
                    Thursday collection:
                      {{ week.collection_day2|date:"DATE_FORMAT" }}
                      <br>
                    Deadline for changes:
                      3pm {{ week.deadline|date:"DATE_FORMAT" }}
                  </p>
              </li>
              {% endfor %}
            </ol>
          {% endfor %}
      </div>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
