{% extends "base_join.html" %}
{% load tz %}


{% block head_title %}Billing Dates{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    {% timezone "Europe/London" %}
    <div class="row">
      <h1>Billing Dates</h1>

      <h4>Billing dates are based on the number of Wednesday collections in each month.</h4>
      {% if billing_weeks_left == 0 %}
        <h4>There are no more collections this month.</h4>
      {% elif billing_weeks_left == 1 %}
        <h4>There is 1 more collection this month.</h4>
      {% else %}
        <h4>There are {{ billing_weeks_left }} collections{{ billing_weeks_left|pluralize }} left this month.</h4>
      {% endif %}




      <div id="billing-dates">
          {% for month in pickup_dates %}
            <h2>{{ month|date:"F Y"}} - {{ pickup_dates|get_item:month|length }} Wednesday collections</h2>
            <p><strong>Invoicing date:</strong> <span class="invoicing-date">{{ billing_dates|get_item:month|date:"DATE_FORMAT" }}</span></p>
            <ol>
              {% for bw in pickup_dates|get_item:month %}
              <li>
                  <p>
                      <strong>
                    {{ bw.mon|date:"DATE_FORMAT" }} - {{ bw.sun|date:"DATE_FORMAT" }}
                      </strong>
                    <br>
                    Wednesday collection: {{ bw.wed|date:"DATE_FORMAT" }}
                      <br>
                    Thursday collection:
                      {{ bw.thurs|date:"DATE_FORMAT" }}
                      <br>
                    Deadline for changes:
                      {{ bw.start|date:"DATETIME_FORMAT" }}
                  </p>
              </li>
              {% endfor %}
            </ol>
          {% endfor %}
      </div>
    </div>
    {% endtimezone %}
{% endblock %}
{% block extra_body %}
{% endblock %}
