{% extends "base_join.html" %}

{% block head_title %}Join{% endblock %}
{% block extra_head %}
<script>
if (typeof GC === "undefined") {
    var GC = {};
}
GC.locations = {{ locations|safe }}
</script>
{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
    <div class="row">
      <h3 class="font-text">Where do you want to collect your bag from?</h3>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

      <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

      <div id="collection-map" style="height:450px;width:600px;">

      </div>

      {% if form.non_form_errors or form.errors %}
      <div id="errors" class="callout alert errors">
      {{ form.non_form_errors }}
      {{ form.errors }}
      </div>
      {% endif %}






      <form action="{% url 'join_collection_point' %}" method="post">
        {% csrf_token %}
        <fieldset class="columns collection-points">
          <legend>Choose one collection point</legend>
          <ul class="row">
          {% for radio in form.collection_point %}
            <li class="column">
              {{ radio.tag }}
              <label for="{{ radio.id_for_label }}">
                  {{ radio.choice_label }}
              </label>
            </li>
          {% endfor %}
          </ul>
        </fieldset>
        <div class="column">
          <div class="row">
            <div class="action-group">
              <input type="submit" class="button font-display primary large" value="Next">
              {# <h4><a href="#" class="">back</a></h4> #}
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}

{% block extra_scripts %}

<script type="text/javascript">

jQuery(document).ready(function($) {
  var mymap = L.map('collection-map').setView([51.557853, -0.073096], 13);

  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibXJjaHJpc2FkYW1zIiwiYSI6InFobnRZRzQifQ.jLPeG4HV4RiCL8RVNPBTwg', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
  }).addTo(mymap);


  jQuery.each(GC.locations, function(k, loc) {
    L.marker([loc.latitude, loc.longitude])
     .bindPopup(k)
     .addTo(mymap);
  })


});



</script>

{% endblock %}
