{% extends "base.html" %}

{% block head_title %}Dashboard{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Dashboard</h1>

      <p>Welcome {{ request.user.customer.nickname }}!</p>

      <p>Your collection point is: {{ collection_point.name }}</p>
      <p>The bags you are collecting are:</p>
      <ul>
      {% for bag_quantity in bag_quantities %}
        <li>{{ bag_quantity.quantity }} x {{ bag_quantity.bag_type.name }}</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
