{% extends "base.html" %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="login" value="Login">
  </form>
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="join-scheme" value="Join the scheme">
  </form>
  (<a href="{% url 'admin:login' %}">Staff Login</a>)
{% endblock %}
{% block extra_body %}
{% endblock %}
