{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; Generate Pick up List
</div>
{% endblock %}

{% block content %}
  <h1>Choose date for pick up lists</h1>

  <div id="content-main">
    <form method="post">
    {% csrf_token %}
    {{ form }}
    {% for name, values in post_vars %}
      {# We add a fresh token above so don't need the old one #}
      {% if name != 'csrfmiddlewaretoken' and name != 'collection_date' and name != '_generate' %}
        {% for value in values %}
          <input type="hidden" name="{{name}}" value="{{value}}">
        {% endfor %}
      {% endif %}
    {% endfor %}
    <br>
    <br>
    <div class="submit-row">
      <input type="submit" value="Generate" class="default" name="_generate">
    </div>
    </form>
  </div>
{% endblock %}
