{#{% extends "base_join.html" %}#}
<html>
<head>
<style>
h1, #pickup-lists {
  font-family: sans-serif;
}
#pickup-lists td.holiday {
  background: #eee;
  text-align: center;
}
#pickup-lists table {
    border-collapse: collapse;
}
#pickup-lists table, th, td {
  border: 1px solid #000;
  padding: 2px;
}
#pickup-lists th, td.customer {
  padding-left: 4px;
  padding-right: 4px;
}
#pickup-lists td.quantity {
  text-align: center;
}
#pickup-lists td.new {
  font-weight: bold;
}
#pickup-lists td.new.label {
  background: #eee;
  text-transform: uppercase;
}
#pickup-lists tr.totals {
  font-weight: bold;
}
#pickup-lists tr.totals td.total {
  text-align: right;
}
</style>
</head>
<body>

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
{% block content %}
    <div class="row" id="pickup-lists">
      {% if now > billing_week.start %}
      <h1>Billing Week {{ billing_week.week }}, {{ billing_week.wed|date:"F Y" }} Pick Up Lists</h1>
      <h2>Collections start {{ billing_week.wed|date:"DATE_FORMAT" }}</h2>
      <p>
        Generated in billing week {{ now_billing_week.week }}, {{ now_billing_week.wed|date:"F Y" }}.<br>
        Data from {{ billing_week.start|date:"DATETIME_FORMAT" }} retrieved at {{ now|date:"DATETIME_FORMAT" }}.
      </p>
      {% else %}
      <h1>Billing Week {{ billing_week.week }}, {{ billing_week.wed|date:"F Y" }} <em>Predicted</em> pick up lists</h1>
      <h2>Collections start {{ billing_week.wed|date:"DATE_FORMAT" }}</h2>
      <p>
        Generated in billing week {{ now_billing_week.week }}, {{ now_billing_week.wed|date:"F Y" }}.<br>
        Data predicted for {{ billing_week.start|date:"DATETIME_FORMAT" }} retrieved at {{ now|date:"DATETIME_FORMAT" }}.
      </p>

      <h1>WARNING: This is only a prediction</h1>

      <p><strong>The data was generated before the deadline date for this billing week,
         so there is still time for customers to make changes.</strong></p>

      {% endif %}

      <p><span id="num_collection_points">{{ pickup_list|length }}</span> collection points shown.</p>

      <div>
      <h2>Summary</h2>

      <table style="page-break-after:always;">
        <thead>
        <tr>
          <th>Pickup</th>
          {% for bag_type in bag_types %}
          <th>
              {{ bag_type.name }}<br>
              {% if billing_week >= now_billing_week %}
              <em>{{ bag_type.tag_color }}</em>
              {% endif %}
          </th>
          {% endfor %}
          <th>Collecting Users</th>
          <th>Holidaying Users</th>
          <th>Collecting Bags</th>
          <th>Skipping Bags</th>
        </tr>
        </thead>
        {% for collection_point, collection_point_info in pickup_list.items %}
        <tr>

           <td>{{ collection_point.name }}</td>
          {% for bag_type, total in collection_point_info.collecting_bag_totals_by_type.items %}
            <td class="quantity">{{ total }}</td>
          {% endfor %}
          {% for user_category, total in collection_point_info.user_totals_by_category.items %}
            <td class="quantity">{{ total }}</td>
          {% endfor %}
          <td class="quantity">{{ collection_point_info.collecting_bag_total }}</td>
          <td class="quantity">{{ collection_point_info.holiday_bag_total }}</td>
        </tr>
        {% endfor %}
        <tr class="totals">
          <td class="total">Totals</td>
          {% for total in summary_totals.values %}
            <td class="quantity">{{ total }}</td>
          {% endfor %}
        </tr>
      </table>
      </div>
      <div style="page-break-before:always;">
        {% for collection_point, collection_point_info in pickup_list.items %}
          <h2>{{ collection_point.name }}</h2>
          {% if billing_week >= now_billing_week %}
          <p>Collection days: {{ collection_point.get_collection_day_display }}</p>
          {% endif %}
          <table style="page-break-after:always;">
            <thead>
            <tr>
              <th>Customer</th>
              {% if billing_week >= now_billing_week %}
              <th class="label"></th>
              {% endif %}
              {% for bag_type in bag_types %}
              <th class="customer">
                  {{ bag_type }}<br>
                  {% if billing_week >= now_billing_week %}
                  <em>{{ bag_type.tag_color }}</em>
                  {% endif %}
              </th>
              {% endfor %}
            </tr>
            </thead>
            {% for customer, customer_info in collection_point_info.customers.items %}
            <tr>
              {% if billing_week >= now_billing_week %}
                {% if customer_info.new %}
                  <td class="new customer">{{ customer.full_name }}</td>
                  <td class="new label">New</td>
                {% else %}
                  <td class="customer">{{ customer.full_name }}</td>
                  <td class=""></td>
                {% endif %}
              {% else %}
                <td class="customer">{{ customer.full_name }}</td>
              {% endif %}
              {% if customer_info.holiday %}
                <td class="holiday" colspan={{ bag_types|length }}>
                On holiday <em>(usually has
                {% for bag_type, quantity in customer_info.bags.items %}
                  {% if quantity %}
                  {{ bag_type.name }} x {{ quantity }}
                  {% endif %}
                {% endfor %}
                )</em>
                </td>

              {% else %}
                {% for bag_type, quantity in customer_info.bags.items %}
                <td class="quantity">
                  {% if quantity %}
                    {{ quantity }}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </tr>
          {% endfor %}

            <tr class="totals">
              {% if billing_week >= now_billing_week %}
              <td class="total" colspan="2">Totals</td>
              {% else %}
              <td class="total" colspan="1">Totals</td>
              {% endif %}
              {% for bag_type, total in collection_point_info.collecting_bag_totals_by_type.items %}
                <td class="quantity">{{ total }}</td>
              {% endfor %}
            </tr>

          </table>
        {% endfor %}
      </div>
    </div>
{% endblock %}
</body>
</html>
