{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrahead %}
{{ block.super }}

<script   src="http://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'blueworld/chosen.jquery.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
      $('.field-customer select').chosen();
  })

</script>
{% endblock %}

{% block extrastyle %}
{# {{ block.super }}#}
<link rel="stylesheet" type="text/css" href="{% static 'blueworld/chosen.css' %}" />
{% endblock %}
