{% extends "base.html" %}

{% block head_title %}Bank Details{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Bank Details</h1>
      <p>We don't keep a record of your bank details ourselves. They are actually kept by GoCardless who handle our billing for us.Visit the <a href="https://gocardless.com">GoCardless website</a> to change your bank direct debit details. There is a telephone number at the bottom of the page that you can use.</p>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
