{% extends "base.html" %}
{% load tz %}

{% block head_title %}Billing History{% endblock %}
{% block extra_head %}
<style>
#billing-history tr th {
    text-align: left;
}
.total {
    text-align: right;
}
</style>
{% endblock %}
{% block content %}
    {% timezone "Europe/London" %}
    <div class="row">
      <h1>Billing History</h1>

      <table id="billing-history">
      <tr>
        <th>Date</th><th>Requested</th><th>Received</th>
      </tr>

      {% for payment in payments %}
      <tr>
        <td>{{ payment.created }}</td>
        <td>£{{ payment.amount }}</td>
        <td>
          {% if payment.completed %}
          £{{ payment.amount }}
          {% else %}
          <tt>{{ payment.status }}</tt>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </table> 
      <h3 class="total"><strong>Balance: 
      {% if balance > 0 %}
      -£{{ balance }}
      {% else %}
      £{{ balance }}
      {% endif %}
      </strong></h3>
    </div>
    {% endtimezone %}
{% endblock %}
{% block extra_body %}
{% endblock %}
