{% extends "base.html" %}
{% load tz %}

{% block head_title %}Billing History{% endblock %}
{% block extra_head %}
<style>
#billing-history tr th, #billing-history tr td {
    text-align: left;
    vertical-align: top;
}
.total {
    text-align: right;
}
</style>
{% endblock %}
{% block content %}
    {% timezone "Europe/London" %}
    <div class="row">
      <h1>Billing History</h1>

      <p>Your payments.</p>

      <table id="billing-history">
      <tr>
        <th>Date</th><th>Requested</th><th>Received</th>
      </tr>

      {% if balance_carried_over %}
      <tr>
        <td>Starting balance</td><td>
        {% if balance_carried_over >= 0 %}
        £{{ balance_carried_over }}
        {% endif %}
        </td><td>
        {% if balance_carried_over < 0 %}
        £{{ balance_carried_over|abs }}
        {% endif %}
        </td>
      </tr>
      {% endif %}

      {% for payment in payments %}
      <tr>
        <td>
            {{ payment.created }} (current status: <tt>{{ payment.status }}</tt>)<br>
            {% if payment.description %}
            {{ payment.description }} <br>
            {% endif %}
              <ul>
              {% for line_item in payment.line_items.all %}
                <li>
                 {% if line_item.amount > -1 %}
                 £{{ line_item.amount }}
                 {% else %}
                 -£{{ line_item.amount }}
                 {% endif %}
                 {{ line_item.get_reason_display }} {{ line_item.description }}</li>
              {% endfor %}
              </ul>
        </td>
        <td>£{{ payment.amount }}</td>
        <td>
          {% if payment.completed %}
          £{{ payment.amount }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </table> 
      <h3 class="total"><strong>Balance: 
      {% if balance > 0 %}
      £{{ balance|abs }} owed
      {% else %}
      £{{ balance|abs }} credit
      {% endif %}
      </strong></h3>
    </div>
    {% endtimezone %}
{% endblock %}
{% block extra_body %}
{% endblock %}
