{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %}Change Collection Point{% endblock %}
{% block extra_head %}
<script>
if (typeof GC === "undefined") {
    var GC = {};
}
GC.locations = {{ locations|safe }}
</script>
{% endblock %}
{% block content %}
    <div class="row">

      <h1>Change Collection Point</h1>

      <div class="current-choice">



      <h4>Your current collection point is <strong id="collection-point">{{ current_collection_point.name }}</strong>.</h4>

      {% if current_collection_point.instructions %}
      <div class="collection-point-info">
        <a href="#">See collection point instructions </a>
        <div class="instructions">
          {{ current_collection_point.instructions|linebreaks }}
        </div>
      </div>
      {% endif %}

      {% if not current_collection_point.active %}
      <p id="collection-point-not-active-warning">Please be aware that {{ current_collection_point.name }} is currently {{ current_collection_point.get_inactive_reason_display|lower }} so if you switch to another collection point you won't be able to change back to {{ current_collection_point.name }} afterwards.</p>
      {% endif %}

      </div>

      <h4 class="font-display">New collection point</h4>

      <h5>Where do you want to pick up from?</h5>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

      <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

      <div id="collection-map" style="height:450px;width:600px;">

      </div>

      <div id="errors">
      {{ form.non_form_errors }}
      {{ form.errors }}
      </div>
      <form action="{% url 'dashboard_change_collection_point' %}" method="post">
        {% csrf_token %}
        <fieldset class="columns collection-points">
          <legend>Choose one collection point</legend>
          <ul class="row">
          {% for radio in form.collection_point %}
            <li class="column">
              {{ radio.tag }}
              <label for="{{ radio.id_for_label }}">
                  {{ radio.choice_label }}
              </label>
            </li>
          {% endfor %}
          </ul>
        </fieldset>
        <div class="column">
          <div class="row">
            <div class="action-group">
              <input type="submit" name="cancel" value="Cancel" class="button font-display large">
              <input type="submit" class="button font-display primary large" value="Confirm">
              {# <h4><a href="#" class="">back</a></h4> #}
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'blueworld/collection-map.js' %}" charset="utf-8"></script>
{% endblock %}
