{% extends "base.html" %}

{% block head_title %}Change Order{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Change Order</h1>

      <h5>If we haven't yet placed the week's order with our growers, you can change your order below, and we'll use that instead.</h5>
      <h5>If the week's order has already been sent, changes will affect the following week.</h5>


      <div class="current-choice">


      <h4>Your current order is:</h4>
      <ul id="order">
      {% for bag_quantity in request.user.customer.bag_quantities %}
        <li>
          <h4><strong>{{ bag_quantity.quantity }} x {{ bag_quantity.bag_type.name }}</strong></h4>
          {% if not bag_quantity.bag_type.active %}
          (note this item is no longer available so if you change your order below, you will not be able to re-select it in future)
          {% endif %}
        </li>
      {% endfor %}
      </ul>

      </div>

      <h3>New Order</h3>
      <p>Note: You can only order a small fruit bag if you are also ordering another bag.</p>

      <div id="errors">
      {{ formset.non_form_errors }}
      </div>
      <form action="{% url 'dashboard_change_order' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="stack">
          <thead>
            <tr>
              <th width="100">Qty</th>
              <th>Bag Type</th>
              <th>Cost per week</th>
            </tr>
          </thead>
          <tbody>
          {% for form in formset %}
            {% if form.errors.quantity %}
            <tr class="error" style="background: #fcc">
              <td colspan="3">
                {% for error in form.errors.quantity %}
                  {{ error }}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
            <tr class="{% cycle row1 row2 %}">
              <td>
              {% for field in form.visible_fields %}
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field }}
              {% endfor %}
              </td>
              <td>{{ form.initial.name }}</td>
              <td>£{{ form.initial.weekly_cost }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="row">
          <div class="action-group column">
            <input type="submit" name="cancel" value="Cancel" class="button font-display large">
            <input type="submit" name="action" value="Confirm" class="button font-display primary large">
            {#  <a href="#" class="">back</a> #}
          </div>
        </div>
      </form>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
