{% extends "base.html" %}

{% block head_title %}Dashboard{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Dashboard</h1>

      <p>Welcome {{ request.user.customer.nickname }}!</p>

      <p>Your collection point is: <strong id="collection-point">{{ collection_point.name }}</strong> and your next collection is <strong id="collection-date">{{ collection_date }}</strong>.</p>

      <em>Please check the opening days and hours of your collection point before collecting you order</em>.</p>
      <p>The bags you are collecting are:</p>
      <ul id="order">
      {% for bag_quantity in bag_quantities %}
        <li><strong>{{ bag_quantity.quantity }} x {{ bag_quantity.bag_type.name }}</strong></li>
      {% endfor %}
      </ul>

      <p>Any changes you make until <span id="deadline">{{ deadline }}</span> will affect <span id="changes-affect">{{ changes_affect }}</span></p>

    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
