{% extends "base.html" %}

{% block head_title %}Leave{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">

      <h2>We're sorry to see you go</h2>

      <h5>Sorry to hear we’ll be losing you from the scheme.</h5>

      <h5>We'll deliver all the bags you have already paid for, so your last collection will be the week beginning <strong>{{ last_collection_week }}</strong>.</h5>

  		<h5>
  			It's really useful for us to understand why members leave, so if you have time to let us know that would be great.
      </h5>

      <form action="{% url 'dashboard_leave' %}" method="post">
        {% csrf_token %}
        {{ form }}

        <div class="row">
          <div class="action-group column">

            <input type="submit" name="action" value="Leave the scheme" class="button font-display warning primary large">
          </div>
        </div>
      </form>


    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(document).ready(function($) {
      var checkbox = $('#id_alternative_date');
      checkbox.insertBefore(checkbox.prev());
    });
  </script>
{% endblock %}
