{% extends "base.html" %}
{% load tz %}

{% block head_title %}Order History{% endblock %}
{% block extra_head %}
<style>
table#order-history tr:nth-of-type(even) {
    background-color: transparent !important;
}
table#order-history tr.line {
    border-top: 1px solid #666;
}
table#order-history td {
    vertical-align: top;
}
</style>
{% endblock %}
{% block content %}
    {% timezone "Europe/London" %}
    <div class="row">
      <h1>Order History</h1>

      <p>Your account was created on {{ created }}.</p>

      {% for month in order_history %}
      <h2>{{ month|date:"F Y" }}</h2>

      <table id="order-history">
        {% for minute in order_history|get_item:month %}
        {% for event in order_history|get_item:month|get_item:minute %}
        {% if forloop.first %}
        <tr class="line">
          <td style="vertical-align: top;" rowspan={{ order_history|get_item:month|get_item:minute|length }}>{{ minute }}</td>
        {% else %}
        <tr>
        {% endif %}
          <td>
            {% if event.type == 'ORDER_CHANGE' %}
            Order changed
            {% elif event.type == 'COLLECTION_POINT_CHANGE' %}
            Collection point changed
            {% elif event.type == 'ACCOUNT_STATUS_CHANGE' %}
            Account status changed
            {% elif event.type == 'SKIP_WEEK' %}
            Holiday request made
            {% elif event.type == 'OUT_OF_CYCLE_PAYMENT' %}
            Payment
            {% elif event.type == 'PENDING_LINE_ITEM' %}
            Line Item for next month's payment
            {% endif %}
          </td>
          <td>
            {% if event.type == 'ORDER_CHANGE' %}
            Order changed to <strong>{{ event.new_bag_quantities }}</strong>.<br>
            {% if event.reason == 'CHANGED' %}
            Your new order will be available from {{ event.bw.next_month|date:"DATE_FORMAT"}}.<br>
            Your new order will be invoiced in {{ event.bw.next_month|date:"F"}}, including any adjustments needed.
            {% endif %}
            {% elif event.type == 'COLLECTION_POINT_CHANGE' %}
            Collection point changed to <strong>{{ event.new_collection_point }}</strong>.<br>
            {% comment %}
                Please start collecting here from {{ event.bw.next.wed|date:"DATE_FORMAT" }}.
            {% endcomment %}

            {% elif event.type == 'ACCOUNT_STATUS_CHANGE' %}
            Account status changed to <strong>{{ event.new_account_status }}</strong>.
            {% elif event.type == 'OUT_OF_CYCLE_PAYMENT' %}
            Payment requested for <strong>£{{ event.amount }}</strong> (current status: <tt>{{ event.status }}</tt>).<br>
            {% if event.description %}
            {{ event.description }} <br>
            {% endif %}
              <ul>
              {% for line_item in event.line_items.all %}
                <li>
                    {% if line_item.amount > -1 %}
                    £{{ line_item.amount }}
                    {% else %}
                    -£{{ line_item.amount|abs }}
                    {% endif %}
                {{ line_item.get_reason_display }} {{ line_item.description }}</li>
              {% endfor %}
              </ul>
            {% elif event.type == 'PENDING_LINE_ITEM' %}
              Amount <strong>
              {% if event.amount > -1 %}
              £{{ event.amount }}
              {% else %}
              -£{{ event.amount|abs }}
              {% endif %}
              </strong>
              {% if event.description %}
              <br>{{ event.description }}
              {% endif %}
            {% elif event.type == 'SKIP_WEEK' %}
            No collection in the week starting <strong>{{ event.billing_week.mon|date:"DATE_FORMAT" }}</strong>.<br>
            You'll be refunded in {{ event.billing_week.next_month|date:"F"}} for skipping this week
            {% comment %}
            leaving this out, it's confusing
            (you already pre-paid for it in {{ event.billing_week.prev_month|date:"F"}} as part of your regular order)
            {% endcomment %}
            .
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
    </div>
    {% endtimezone %}
{% endblock %}
{% block extra_body %}
{% endblock %}
