{% extends "base.html" %}

{% block head_title %}Holidays{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
    <div class="row">
      <h1>Holidays</h1>

      <style media="screen">
        h4{
          max-width:40em;
          margin-top:1rem;
          margin-bottom:1rem;
        }
      </style>

      <h4>Won't be able to make a collection because you're away on holiday? Mark the weeks you wont be around, and we'll refund the cost of those weeks in your next bill.</h4>

      <div id="errors">
      {{ formset.non_form_errors }}
      </div>
      <form action="{% url 'dashboard_skip_weeks' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="stack">
          <thead>
            <tr>
              <th></th>
              <th>Skip my collection for the weeks starting:</th>
            </tr>
          </thead>
          <tbody>
          {% for form in formset %}
            {% if form.errors.quantity %}
            <tr class="error" style="background: #fcc">
              <td colspan="3">
                {% for error in form.errors.quantity %}
                  {{ error }}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
            <tr class="{% cycle row1 row2 %}">
              <td width="20">
              {% for field in form.visible_fields %}
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field }}
              {% endfor %}
              </td>
              <td id="id_form-{{forloop.counter0}}-display-date">{{ form.initial.skipbw.mon|date:"D d M Y" }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <p>If you want to skip a week further in the future than those listed below, let us know at <a href="mailto:help@growingcommunities.org?subject=Holiday booking">help@growingcommunities.org</a></a>.</p>

        <div class="row">
          <div class="action-group column">
            <input type="submit" name="cancel" value="Cancel" class="button font-display large">
            <input type="submit" name="action" value="Confirm" class="button font-display primary large">
            {#  <a href="#" class="">back</a> #}
          </div>
        </div>
      </form>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
