<!-- Begin Footer -->
{% load tz %}
<footer class="footer row">
  <hr />
  <div class="column">
    <p>
      Growing Communities is a not-for-profit enterprise.
      <span class="copyright">&copy; 2016 Growing Communities.</span>
      {% if not request.user.username and request.path_info == '/' %}
        <a href="{% url "admin:login" %}">Staff Login</a>.
      {% endif %}
      It is {% now "jS F Y H:i" %} UTC.
      {% timezone "Europe/London" %}
      Local time: {% now "jS F Y H:i" %}.
      {% endtimezone %}
    </p>
  </div>
</footer>
<!-- End Footer -->
